---
layout: skeleton
extra_html_headers: |
  <link rel="canonical" href="{{ site.baseurl }}{{ page.redirect_target }}">
  <meta http-equiv="Refresh" content="0; URL={{ site.baseurl }}{{ page.redirect_target }}">
---
<main>
  <h1>Redirecting</h1>

  <p>Redirecting you to <a href="{{ site.baseurl }}{{ page.redirect_target }}">{{ page.redirect_target }}</a>.</p>
</main>
